#body {
  height: 64px;
  width: 100%;
  padding-right: 16px;
  margin-left: -8px;
  margin-top: -8px;
  transition: left 1.2s ease;
  background: inherit;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  z-index: 999;
}

nav {
  font-size: 18px;
  display: flex;
  align-items: center;
  background: rgba(253, 253, 253, 0.45);
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
nav .linkwrapper {
  margin-left: 15px;
  display: flex;
}
nav .linkwrapper a {
  text-decoration: none;
  color: gray;
  border-right: solid gray thin;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: background 0.4s, text-shadow 0.4s;
  cursor: pointer;
}
nav .linkwrapper a:hover {
  background: rgba(253, 253, 253, 0.3);
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
nav .linkwrapper .blog {
  border-right: none;
}
nav .middlespan {
  flex-grow: 1;
}
nav button {
  font-size: 15px;
  background-color: white;
  margin-right: 30px;
  margin-left: 15px;
  padding: 3px 8px 3px 8px;
  background-color: lightgray;
}
nav button:hover {
  background-color: #fdfdfd;
}

.title_pics {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
  margin-bottom: 40px;
}
.title_pics .title_grid {
  width: 85%;
  height: 800px;
  display: grid;
  grid-template-rows: 1fr 1.5fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
}
.title_pics .title_grid .title_pic1 {
  grid-row: 1/3;
  grid-column: 1/2;
  background: linear-gradient(white, black);
  background-position: center;
  background-size: cover;
  border-bottom-left-radius: 320px;
}
.title_pics .title_grid .title_pic1:hover {
  grid-row: 1/3;
  grid-column: 1/2;
  background: linear-gradient(white, rgba(0, 0, 0, 0) 40%), url(docs/IMG_1977.JPG);
  background-position: center;
  background-size: cover;
  filter: grayscale(2%);
}
.title_pics .title_grid .title_pic2 {
  grid-row: 2/4;
  grid-column: 3/4;
  background: linear-gradient(black, white);
  background-position: center;
  background-size: cover;
  border-top-right-radius: 320px;
}
.title_pics .title_grid .title_pic2:hover {
  grid-row: 2/4;
  grid-column: 3/4;
  background: linear-gradient(rgba(0, 0, 0, 0) 65%, white), url(docs/IMG_2001.PNG);
  background-position: center;
  background-size: cover;
}
.title_pics .title_grid .title_subtitle {
  width: 100%;
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title_pics .title_grid .title_subtitle .title_text {
  width: 80%;
  margin-left: 30px;
}
.title_pics .title_grid .title_subtitle .title_text h1 {
  margin-top: 30px;
  text-align: left;
  font-size: 50px;
  font-family: "Open Sans Condensed", sans-serif;
  width: 100%;
  color: #3f3f3f;
}
.title_pics .title_grid .title_subtitle .title_text h2 {
  text-align: left;
  font-size: 40px;
  font-family: "Open Sans Condensed", sans-serif;
  width: 100%;
  color: #3f3f3f;
}

.introwrapper {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.introwrapper .intro {
  width: 25%;
  padding: 25px;
  margin-top: 50px;
  font-size: 0.9em;
  text-align: justify;
  font-family: "Open Sans Condensed", sans-serif;
  color: #3f3f3f;
}
.introwrapper .intropic {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 350px;
  width: 100vw;
  align-self: flex-start;
  margin-left: 100px;
  display: flex;
  align-items: center;
}
.introwrapper .intropic .arrow-right {
  box-sizing: content-box;
  height: 0px;
  width: 0px;
  margin-left: 50px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #3f3f3f;
}
.introwrapper .intropic .bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-25px);
  }
  60% {
    transform: translateX(-15px);
  }
}
.introwrapper .intropic embed {
  width: 300px;
  height: 300px;
}
.introwrapper .intropic .timeline {
  width: 50vw;
  height: 100px;
  margin-left: 3vw;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.introwrapper .intropic .timeline #line-svg {
  height: 50%;
  width: 100%;
  margin: 0px 0 0 0px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans Condensed", sans-serif;
}

body {
  font-size: 25px;
  color: black;
  background-color: #fdfdfd;
  font-family: Arial, Helvetica, sans-serif;
  height: 5000px;
}

.appear {
  animation-name: appear;
  -webkit-animation-name: appear;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  visibility: visible;
  font-size: 22px;
  font-weight: bold;
  height: 50%;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.work {
  font-size: 22px;
  height: 50%;
  visibility: hidden;
}

/*# sourceMappingURL=style.css.map */
