#body {
  height: 64px;
  width: 100vw;
  padding-right: 16px;
  margin-left: -8px;
  margin-top: -8px;
  transition: left 1.2s ease;
  background: inherit;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  z-index: 999;
}

nav {
  font-size: 18px;
  display: flex;
  align-items: center;
  background: rgba(253, 253, 253, 0.45);
  height: 70px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}
nav .linkwrapper {
  margin-left: 15px;
  display: flex;
}
nav .linkwrapper .links {
  text-decoration: none;
  color: gray;
  border-right: solid gray thin;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: background 0.4s, text-shadow 0.4s;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}
nav .linkwrapper .links:hover {
  background: rgba(253, 253, 253, 0.3);
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
nav .linkwrapper .blog {
  border-right: none;
}
nav .middlespan {
  flex-grow: 1;
}
nav button {
  font-size: 15px;
  background-color: white;
  margin-right: 35px;
  margin-left: 15px;
  padding: 3px 8px 3px 8px;
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}
nav button:hover {
  background-color: #fdfdfd;
}

@media only screen and (max-width: 520px) {
  .chinese {
    font-size: 12px;
    padding: 1.5px 4.5px 1.5px 4.5px;
  }

  .about, .experience, .skills, .blog {
    font-size: 14px;
    padding: 0px;
  }
}
@media only screen and (max-width: 450px) {
  .chinese {
    font-size: 9px;
    padding: 1.5px 4.5px 1.5px 4.5px;
  }

  .links {
    font-size: 13px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media only screen and (max-width: 365px) {
  .chinese {
    font-size: 7.5px;
    padding: 1.5px 2.5px 1.5px 2.5px;
  }

  .links {
    font-size: 13px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media only screen and (max-width: 325px) {
  .chinese {
    font-size: 6px;
    padding: 1.5px 2px 1.5px 2px;
    margin-left: 0px;
    margin-right: 5px;
    border: 1px;
  }

  .links {
    font-size: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.title_pics {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
  margin-bottom: 40px;
}
.title_pics .title_grid {
  width: 85%;
  height: 800px;
  display: grid;
  grid-template-rows: 1fr 1.5fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
}
.title_pics .title_grid .title_pic1 {
  grid-row: 1/3;
  grid-column: 1/2;
  background: linear-gradient(white, black);
  background-position: center;
  background-size: cover;
  border-bottom-left-radius: 320px;
}
.title_pics .title_grid .title_pic1:hover {
  grid-row: 1/3;
  grid-column: 1/2;
  background: linear-gradient(white, rgba(0, 0, 0, 0) 40%), url(docs/IMG_1977.JPG);
  background-position: center;
  background-size: cover;
  filter: grayscale(2%);
}
.title_pics .title_grid .title_pic2 {
  grid-row: 2/4;
  grid-column: 3/4;
  background: linear-gradient(black, white);
  background-position: center;
  background-size: cover;
  border-top-right-radius: 320px;
}
.title_pics .title_grid .title_pic2:hover {
  grid-row: 2/4;
  grid-column: 3/4;
  background: linear-gradient(rgba(0, 0, 0, 0) 65%, white), url(docs/IMG_2001.PNG);
  background-position: center;
  background-size: cover;
}
.title_pics .title_grid .title_subtitle {
  width: 100%;
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title_pics .title_grid .title_subtitle .title_text {
  width: 80%;
}
.title_pics .title_grid .title_subtitle .title_text h1 {
  margin-top: 30px;
  text-align: left;
  font-size: 50px;
  font-family: "Open Sans Condensed", sans-serif;
  width: 100%;
  color: white;
}
.title_pics .title_grid .title_subtitle .title_text h2 {
  text-align: left;
  font-size: 40px;
  font-family: "Open Sans Condensed", sans-serif;
  width: 100%;
  color: white;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.introwrapper {
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.introwrapper .intro {
  width: 25%;
  padding: 25px;
  margin-top: 50px;
  font-size: 0.9em;
  text-align: justify;
  font-family: "Open Sans Condensed", sans-serif;
  color: white;
  visibility: hidden;
}
.introwrapper .introslideup {
  animation-name: introslideup;
  -webkit-animation-name: introslideup;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  visibility: visible;
  width: 25%;
  padding: 25px;
  margin-top: 50px;
  font-size: 0.9em;
  text-align: justify;
  font-family: "Open Sans Condensed", sans-serif;
  color: white;
}
@keyframes introslideup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@-webkit-keyframes introslideup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
.introwrapper .intropic {
  margin-top: 50px;
  height: 600px;
  width: calc(100vw - 100px);
  align-self: flex-start;
  margin-left: 100px;
  display: flex;
  align-items: center;
}
.introwrapper .intropic .arrow-right {
  box-sizing: content-box;
  height: 0px;
  width: 0px;
  margin-left: 50px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #3f3f3f;
}
.introwrapper .intropic .bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-25px);
  }
  60% {
    transform: translateX(-15px);
  }
}
.introwrapper .intropic embed {
  width: 300px;
  height: 300px;
}
.introwrapper .intropic .timeline {
  width: 50vw;
  height: 500px;
  margin-left: 3vw;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.introwrapper .intropic .timeline .textwrapper {
  height: 50%;
  display: flex;
  align-items: flex-end;
  color: white;
}
.introwrapper .intropic .timeline .textwrapper .appear {
  animation-name: appear;
  -webkit-animation-name: appear;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  visibility: visible;
  font-size: 22px;
  font-weight: bold;
  height: 25%;
  margin-bottom: 0px;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.introwrapper .intropic .timeline .textwrapper .work {
  font-size: 22px;
  height: 25%;
  visibility: hidden;
  margin-bottom: 0px;
  color: white;
}
.introwrapper .intropic .timeline .svg {
  height: 50%;
  width: 100%;
  display: grid;
  grid-template-rows: 0.01fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: right;
}
.introwrapper .intropic .timeline .svg svg {
  grid-column: 1/5;
}
.introwrapper .intropic .timeline .svg .year {
  font-size: 20px;
  border-right: white solid thin;
  visibility: hidden;
  padding-right: 8px;
  color: white;
}
.introwrapper .intropic .timeline .svg .yearappear {
  animation-name: appear;
  -webkit-animation-name: appear;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  visibility: visible;
  font-size: 20px;
  font-weight: bold;
  border-right: white solid thin;
  padding-right: 8px;
  color: white;
}
@keyframes yearappear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes yearappear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.introwrapper .intropic .timeline .svg .datascientist embed {
  background-color: white;
  border-radius: 50%;
  margin-left: 68%;
  border: solid lightgray thin;
  width: 65%;
  height: 8vw;
  grid-row: 3/4;
  grid-column: 4/5;
  overflow: visible;
}
.introwrapper .intropic .timeline .svg .demonstrator embed {
  background-color: white;
  border-radius: 50%;
  border: solid lightgray thin;
  margin-left: 68%;
  width: 65%;
  height: 8vw;
  grid-row: 3/4;
  grid-column: 3/4;
  overflow: visible;
}
.introwrapper .intropic .timeline .svg .writer embed {
  background-color: white;
  border-radius: 50%;
  border: solid lightgray thin;
  margin-left: 68%;
  width: 65%;
  height: 8vw;
  grid-row: 3/4;
  grid-column: 2/3;
  overflow: visible;
}
.introwrapper .intropic .timeline .svg .jobpic {
  visibility: hidden;
}
.introwrapper .intropic .timeline .svg .scientist embed {
  background-color: white;
  border-radius: 50%;
  border: solid lightgray thin;
  margin-left: 68%;
  width: 65%;
  height: 8vw;
  grid-row: 3/4;
  grid-column: 1/2;
  overflow: visible;
}
.introwrapper .intropic .timeline .svg .picappear {
  animation-name: picappear;
  -webkit-animation-name: picappear;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  visibility: visible;
}
@keyframes picappear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes picappear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.introwrapper .findjob {
  margin-top: 15px;
  height: 40px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  border: none;
  color: #3f3f3f;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 30px;
  width: 130px;
  outline: none;
  visibility: hidden;
}
.introwrapper .findjobappear {
  margin-top: 15px;
  animation-name: findjobappear;
  -webkit-animation-name: findjobappear;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  visibility: visible;
  width: 130px;
  height: 40px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20%;
  background-color: white;
  border: none;
  color: #3f3f3f;
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 30px;
  outline: none;
}
@keyframes findjobappear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes findjobappear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.introwrapper .findjobappear:hover {
  border-radius: 30px;
  background: #c8c8c8;
  color: #282828;
}
.introwrapper .findjobappear:active {
  border-radius: 30px;
  background: #606060;
  color: white;
}

.skillswrapper {
  height: 940px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skillswrapper .skillstext {
  width: 25%;
  padding: 25px;
  margin-top: 50px;
  font-size: 0.9em;
  text-align: justify;
  font-family: "Open Sans Condensed", sans-serif;
  color: white;
  visibility: hidden;
}
.skillswrapper .skillslideup {
  animation-name: skillslideup;
  -webkit-animation-name: skillslideup;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  visibility: visible;
  width: 25%;
  padding: 50px 25px 0px;
  margin-top: 50px;
  font-size: 0.9em;
  text-align: justify;
  font-family: "Open Sans Condensed", sans-serif;
  color: white;
}
@keyframes skillslideup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@-webkit-keyframes skillslideup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
.skillswrapper .skillstack {
  margin-top: 150px;
  height: 290px;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}
.skillswrapper .skillstack .skillpicwrapper {
  width: 910px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skillswrapper .skillstack .skillpicwrapper svg {
  width: 910px;
  height: 160px;
}
.skillswrapper .skillstack .skillpicwrapper svg text {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
}
.skillswrapper .skillstack .skillpicwrapper svg #python {
  font-size: 26px;
}
.skillswrapper .skillstack .skillpicwrapper svg #ai {
  font-size: 25px;
}
.skillswrapper .skillstack .skillpicwrapper .skillbuttonwrap .skillbutton {
  margin-top: 60px;
  width: 130px;
  height: 40px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #3f3f3f;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 30px;
  outline: none;
}
.skillswrapper .skillstack .skillpicwrapper .skillbuttonwrap .skillbutton:hover {
  border-radius: 30px;
  background: #c8c8c8;
  color: #282828;
}
.skillswrapper .skillstack .skillpicwrapper .skillbuttonwrap .skillbutton:active {
  border-radius: 30px;
  background: #606060;
  color: white;
}

.blogintrowrapper {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blogintrowrapper .blogintrotext {
  width: 25%;
  padding: 25px;
  margin-top: 100px;
  font-size: 0.9em;
  text-align: justify;
  font-family: "Open Sans Condensed", sans-serif;
  color: white;
  visibility: hidden;
  padding: 0px 25px 0px;
}
.blogintrowrapper .blogintroslideup {
  animation-name: blogintroslideup;
  -webkit-animation-name: blogintroslideup;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  visibility: visible;
  width: 25%;
  padding: 0px 25px 0px;
  margin-top: 40px;
  font-size: 0.9em;
  text-align: justify;
  font-family: "Open Sans Condensed", sans-serif;
  color: white;
}
@keyframes blogintroslideup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@-webkit-keyframes blogintroslideup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
.blogintrowrapper .blogpic {
  margin-top: 90px;
}
.blogintrowrapper .blogpic #flowerspic {
  width: 350px;
  height: 350px;
}
.blogintrowrapper .blogbuttonwrap .blogbutton {
  margin-top: 20px;
  width: 130px;
  height: 40px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fcfcfc;
  color: #3f3f3f;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: #c8c8c8 solid thin;
  border-radius: 30px;
  outline: none;
}
.blogintrowrapper .blogbuttonwrap .blogbutton:hover {
  border-radius: 30px;
  background: #c8c8c8;
  color: #282828;
}
.blogintrowrapper .blogbuttonwrap .blogbutton:active {
  border-radius: 30px;
  background: #606060;
  color: white;
}

.contactwrapper {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactwrapper .contacttext {
  width: 25%;
  padding: 25px;
  margin-bottom: 25px;
  font-size: 0.9em;
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  color: #3f3f3f;
  visibility: hidden;
  padding: 0px 25px 0px;
}
.contactwrapper .contactslideup {
  animation-name: contactslideup;
  -webkit-animation-name: blogintroslideup;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  visibility: visible;
  width: 25%;
  padding: 0px 25px 0px;
  margin-bottom: 25px;
  font-size: 0.9em;
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  color: #3f3f3f;
}
@keyframes contactslideup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@-webkit-keyframes contactslideup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
.contactwrapper .socialmedia_container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.contactwrapper .socialmedia_container h2 {
  font-size: 30px;
  margin-bottom: 5px;
}
.contactwrapper .socialmedia_container a {
  display: block;
  text-decoration: none;
  color: #3f3f3f;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.contactwrapper .socialmedia_container a:hover {
  color: white;
}
.contactwrapper .socialmedia_container .email {
  margin-top: 20px;
}
.contactwrapper .socialmedia_container .email h3 {
  font-size: 22px;
}
.contactwrapper .socialmedia_container .email p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #3f3f3f;
  margin-top: 3px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans Condensed", sans-serif;
}

body {
  font-size: 25px;
  color: black;
  background-color: #fdfdfd;
  font-family: Arial, Helvetica, sans-serif;
  height: 4150px;
  background: linear-gradient(to bottom, gray 60%, white);
}

.bottom_footer {
  margin-top: -4px;
  width: 100vw;
  height: 60px;
  background-color: gray;
  display: flex;
  align-items: center;
}
.bottom_footer .footer-links {
  background-color: white;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.bottom_footer .footer-links img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}
.bottom_footer .footer-middlebox {
  flex-grow: 1;
}
.bottom_footer .footer-name {
  color: white;
  margin-right: 20px;
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
