@import '../nav';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}

body {
  font-size: 25px;
  color: black;
  background-color: rgb(253, 253, 253);
  font-family: Arial, Helvetica, sans-serif;
  height: 2000px;
  background: linear-gradient(
    to bottom,
    white 60%,
    lightgray
  );

  .contentcontainer {
  margin-top: 20px;
  // background-color: pink;
  width: calc(100vw - 30px);
  height: 1200px;
  margin-left: 30px;

  .titlewrapper {
    background: linear-gradient(to top, rgba(255,255,255,1), rgba(0,0,0,0)),
    url(../docs/Blogtitlepic.jpeg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
      font-size:8.5em;
      font-family: 'Open Sans Condensed', sans-serif;
      padding-top: 0px;
      padding-left: 0px;
      color: rgb(63, 63, 63);
      letter-spacing: 60px;
    }

  }

  .contentwrapper {
    // background-color: gray;
    display:flex;
    height: calc(1200px - 350px);


  .blogarticlewrapper {
    // background-color: ivory;
    width:93%;
    height: calc(1200px - 350px);

    .subtitle {
      width: 100%;
      height: 12%;
      letter-spacing: 15px;
      display:flex;
      justify-content: center;
      align-items: center;
      // background-color: lightseagreen;

    }

    .blogarticle {
      width: 100%;
      // background-color: rgb(198, 220, 198);
      height: 88%;
      color: gray;
      display: grid;
      grid-template-columns: 1fr 1.3fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      // border: black solid thin;

      .article1{
        grid-row: 1/2;
        grid-column: 1/2;
        // border: black solid thin;
      }
      .article2{
        grid-row: 2/3;
        grid-column: 1/2;
        // border: black solid thin;
      }
      .article3{
        grid-row: 3/4;
        grid-column: 1/2;
        // border: black solid thin;
      }
      .article4{
        grid-row: 4/5;
        grid-column: 1/2;
        // border: black solid thin;
      }
      .article5{
        grid-row: 5/6;
        grid-column: 1/2;
        // border: black solid thin;
      }
      .article1content{
        grid-row: 1/ span 5;
        grid-column: 2/3;
        // border: black solid thin;
        // background-color: orange;
      }
    }
  }
  .sidebar {
    // background-color: lightsalmon;
    width: 7%;
    height: 100%;
  }
  }
}
}

