@import '../nav';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}

body {
  font-size: 25px;
  color: black;
  background-color: rgb(253, 253, 253);
  font-family: Arial, Helvetica, sans-serif;
  height: 1800px;
  background: linear-gradient(
    to bottom,
    white 80%,
    lightgray
  );
  background-attachment: fixed;

  .contentcontainer {
  margin-top: 20px;
  // background-color: pink;
  width: 100vw;
  height: 1500px;

  .titlewrapper {
    background: linear-gradient(to top, rgba(255,255,255,1), rgba(0,0,0,0)),
    url(../docs/whiteleaf.jpeg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
      font-size:220px;
      font-family: 'Open Sans Condensed', sans-serif;
      padding-top: 0px;
      padding-left: 0px;
      color: rgb(63, 63, 63);
      letter-spacing: 60px;
    }

  }

  .contentwrapper {
    // background-color: gray;
    display:flex;
    height: calc(1200px - 350px);


    .blogarticlewrapper {
      // background-color: pink;
      width:93%;
      // display: flex;
      // flex-direction: column;
      // align-items: center;

      .subtitle {
        width: 100%;
        height: 100px;
        letter-spacing: 15px;
        display:flex;
        justify-content: center;
        align-items: center;
        // background-color: lightseagreen;

      }

      .blogarticle {
        width: 100%;
        // background-color: rgb(198, 220, 198);
        height: 90%;
        margin-bottom: 15px;

        .card-container {
          display: flex;
          flex-wrap: wrap;
          // background: white;
          align-content: space-evenly;
          justify-content: space-evenly;
          max-width: 100%;
          margin-bottom: 25px;
          margin-top: 30px;
          // background-color: tomato;

          .card-wrapper{
            width: 80%;
            height:200px;
            background-color:white;
            display: flex;
            // border-style: solid;
            border-width: thin;
            margin: 12px;
            justify-content: center;
            align-items: center;
            // border-color: darkgray;
            border-top: rgba(148,148,148,0.4) dashed thin;
            border-radius: 30px;
            box-shadow:0 6px 10px 0 rgba(0,0,0,0.2); 
    
            .card {
              font-family: Arial, Helvetica, sans-serif;
              width: 98%;
              height: 96%;
              display: flex;

              .left {
                // background-color: peachpuff;
                width: 30%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                .icon {
                  width:85px;
                  height: 85px;
                  margin-top: 30px;
                  // border-top: rgba(0,0,0,0.2)solid thin;
                }

                #MYOB {
                    background:url(../docs/icons/MYOB.png);
                    background-position: center;
                    background-size: cover;
                }

                #RMIT {
                  background:url(../docs/icons/RMIT.png);
                  background-position: center;
                  background-size: cover;
                }

                #Latrobe {
                  background:url(../docs/icons/latrobe.png);
                  background-position: center;
                  background-size: cover;
                }

                #sci {
                  background:url(../docs/icons/scidesign.png);
                  background-position: center;
                  background-size: cover;
                }

                #douban {
                  background:url(../docs/icons/douban.png);
                  background-position: center;
                  background-size: cover;
                }
              }

              .right {
                // background-color: powderblue;
                width: 70%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                // border-left:rgba(148,148,148,0.4) dashed thin;

                .text {
                  width:95%;
                  height:80%;
                  color: rgb(63, 63, 63);
                  // background-color: palegreen;

                  .heading {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-bottom: 5px;
                    margin-top: 8px;
                    .title {
                      font-family: Arial, Helvetica, sans-serif;
                      font-size: 19px;
                    }
                    .company_time {
                      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                      font-size: 17px;
                    }
                    .duration_location {
                      letter-spacing: 1.2px;
                      font-size: 17px;
                      color: gray;
                    }
                  }
                  .detail {
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-size: 17.5px;
                  }
                }
              }
            }
          }

          .card-wrapper:hover {
            box-shadow: 0 12px 20px 0 rgba(0,0,0,0.2);
            -webkit-transform: scale(1.02);
            transform: scale(1.01) translateY(-2px);
          }
        }

        .cvbutton {
          margin-top: 50px;
          margin-bottom: 150px;
          // background-color: palegreen;
          display: flex;
          justify-content: center;
          align-items: center;
          .cv {
            height: 50px;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgb(63,63,63); 
            border: none;
            color: white;
            padding: 0px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border-radius: 30px;
            width: 180px;
            outline: none;
            // visibility: hidden;
          }

          .cv:hover{
            border-radius: 30px;
            background: rgb(200, 200, 200);
            color: rgb(40,40,40)
          }

          .cv:active {
            border-radius: 30px;
            background:rgb(96,96,96);
            color: white;
            }
        }
      }
    }
  }
}

  .sidebar {
    // background-color: lightsalmon;
    width: 4%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}


@media only screen and (max-width: 1100px) {
 	#Lanzhou {
		font-size: 200px;
    letter-spacing: 15px;
	}

  #detail {
    font-size: 15px;
  }

  .blogsubtitle {
    letter-spacing: 7px;
  }

}

@media only screen and (max-width: 880px) {


  #card_wrapper {
    width: 93%;
    height: 216px;
  }

  .right {
    margin-left: 20px;
  }

}

@media only screen and (max-width: 660px) {

  #titlewrapper {
    height: 200px;
  }
  
  
  #douban, #sci, #Latrobe, #RMIT, #MYOB {
    width: 70px;
    height: 70px;
  }
 	#title {
     font-size: 16px;
   }

  #heading {
    margin-bottom: 0px;
    margin-top:0px;
  }

  #graytext {
    font-size: 13px;
  }
   
   #Lanzhou {
		font-size: 100px;
    letter-spacing: 12px;
	}

  #detail {
    font-size: 13.5px;
  }

  #card_wrapper {
    width: 95%;
    height: 230px;
  }
  
}

@media only screen and (max-width: 400px) {
 	#Lanzhou {
		font-size: 85px;
    letter-spacing: 7.5px;
	}

  #graytext {
    font-size: 11.5px;
  }

  #heading {
    margin-bottom: 0px;
    margin-top:3px;
  }

  #detail {
    font-size: 11.5px;
  }

  #card_wrapper {
    width: 98%;
    height: 230px;
  }
  
}

